@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 360px;
  min-width: 360px;
  min-height: 200px;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  font-size: 13px;
  overflow: visible;
  position: relative;
  z-index: 1;
}

#root {
  min-height: 100%;
  position: relative;
  z-index: 1;
}
